@tailwind base;
@tailwind components;
@tailwind utilities;

/*unimode in nature only dark mode*/
  :root {
    --background: #020617;/*Almost Black*/
    --foreground:#E2E8F0;/*light Gray*/
  }

/*basic styles for the body*/
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
}
